doctype
html
  head
    meta(charset="UTF-8")
    title Nico TV
    script(src="//www.gstatic.com/cast/sdk/libs/receiver/2.0.0/cast_receiver.js")
  body
    video#player
    script(src="./receiver.js")

